body{
	background-color: FFE8D6;
	font-family: Montserrat;
}

h1{
	color: black;
	font-size: 30px;
	border: 1px black inset;
 	border-style:solid;
}

ul{
	list-style-type: none;
	line-height: 2em;
	padding-left: 0px;
}

.photoprofile{
    height: 200px;
    border-radius: 75%;
}

.p1{
	font-size: 25px;
	text-align: center;
	color: black;
}

.p2{
	font-size: 15px;
	text-align: center;
	line-height: 2em
}

.bouton{
	text-decoration: none;
	background-color: FFE8D6;
	color: black;
	text-align: end;
	padding: 5px
}

.bouton:hover{
	background-color: cb997e;
  	color: black;
}

.block{
	margin: auto 450px;
	margin-bottom: 50px;
	background-color: DDBEA9;
	padding: 10px;
	border-radius: 50px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: center;
}

.socials {
  list-style: none;
  padding-left: 0px;
}

.socials li {
  display: inline;
  padding: 10px;
}

.container{
	width: auto;
}

@media (max-width: 960px) {
  .container{
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container{
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container{
    width: 300px;
  }